
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #f4f4f4;
      color: #333;
    }
    header {
      background-color: #004466;
      color: white;
      padding: 20px 0;
      text-align: center;
    }
    nav {
      background-color: #006699;
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 10px 0;
        margin-bottom: 20px;
         background-color: #005580;

    }
    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 40px 20px;
      max-width: 1000px;
      margin: auto;
    }
    .services, .contact, .register, .gallery, .payment {
      background-color: white;
      margin-top: 20px;
      padding: 20px;
      border-radius: 8px;
    }
    .gallery img {
      width: 100%;
      max-width: 300px;
      margin: 10px;
      border-radius: 8px;
    }
    form input, form textarea {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    form button {
      background-color: #004466;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    .payment-options {
      display: flex;
      gap: 30px;
      margin-top: 20px;
    }
    .payment-options div {
      flex: 1;
      text-align: center;
    }
    .payment-options img {
      width: 100px;
      margin-bottom: 10px;
    }
    footer {
      background-color: #004466;
      color: white;
      text-align: center;
      padding: 20px 0;
      margin-top: 40px;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
         border: none;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
         margin-bottom: 20px;
    }
    ul li {
        display: inline;
        margin-right: 20px;
        padding: 10px 15px;
        border-radius: 8px;
        background-color: #f4f4f4;
        padding-bottom: 10px;
        text-align: center;
        transition: background-color 0.3s;
        &:hover {
            background-color: #004466;
            color: white;
        }

    }
    pay-pal-logo {
        width: 50px;
        height: auto;
        :hover {
            transform: scale(1.1);
            transition: transform 0.3s;
        }
        background-color: cadetblue;
    }